<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> MyStox </title>
		<meta name="description" content="">
		<link rel="stylesheet" href="/public/css/style.css">
	</head>
	<body>

		<!-- ======= ======= ======= header ======= ======= ======= -->
		<div class="row header">
			<div class="column column-2">R1_C1</div>
			<div class="column column-8"><h1> p3 </h1></div>
			<div class="column column-2">R1_C3</div>
		</div>

				<!-- ======= ======= ======= content ======= ======= ======= -->
		<div class="row content_row">
			<div class="column column-2">

				<!-- ======= ======= ======= menu ======= ======= ======= -->
				<nav id="main_nav">
			    <ul>
			      <li class="thisPage menuLink"><a href="#">login</a></li>
			      <li><a class="menuLink" href="#">stocks</a></li>
			      <li><a class="menuLink" href="#">watch</a></li>
			      <li><a class="menuLink" href="#">sold</a></li>
			      <li><a class="menuLink" href="#">indexes</a></li>
			      <li><a class="menuLink" href="#">profile</a></li>
			    </ul>
		    </nav>
			</div>
			<div class="column column-8">
				<div class="contents"></div>
			</div>
			<div class="column column-2">R3_C3</div>
		</div>

		<!-- ======= ======= ======= info ======= ======= ======= -->
		<div class="row info">
			<div class="column column-2">R4_C1</div>
			<div class="column column-8">info</div>
			<div class="column column-2">R4_C3</div>
		</div>

		<!-- ======= ======= ======= footer ======= ======= ======= -->
		<div class="row footer">
			<div class="column column-12">footer</div>
		</div>



		<!-- ======= ======= ======= scripts ======= ======= ======= -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/public/js/script.js"></script>
		<script type="text/d3" src="/public/js/d3code.js"></script>

	</body>
</html>
<!-- ../assets/ -->
