<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title> MyStox </title>
		<link rel="stylesheet" href="/public/css/style.css">
	</head>
	<body>

		<!-- ======= ======= ======= header ======= ======= ======= -->
		<div class="row header">
			<div class="column column-2"><a href="/auth/twitter">Log in with Twitter</a>
<a href="/signout"> SignOut</a></div>
			<div class="column column-12"><h1> MyStox </h1></div>
			 <div class="column column-2">R1_C3</div> 
		</div>

				<!-- ======= ======= ======= content ======= ======= ======= -->
		<div class="row content_row">
			<div class="column column-2">
				<!-- ======= ======= ======= menu ======= ======= ======= -->
				<nav id="main_nav">
				    <ul>
				      <li class="thisPage menuLink"><a href="#">login</a></li>
				      <li class="menuLink"><a href="#">stocks</a></li>
				      <li class="menuLink"><a href="#">watch</a></li>
				      <li class="menuLink"><a href="#">sold</a></li>
				      <li class="menuLink"><a href="#">indexes</a></li>
				      <li class="menuLink"><a href="#">profile</a></li>
				    </ul>
			    </nav>

			</div>
			<div class="column column-8">
				<div class="contents"></div>
				<div class="visualisation"></div>
			 
			<div class="column column-2">R3_C3</div> 
		 </div> 

		<!-- ======= ======= ======= info ======= ======= ======= -->
		<div class="row info">
			<div class="column column-2">R4_C1</div>
			<div class="column column-8">info</div>
			<div class="column column-2">R4_C3</div>
		</div>

		<!-- ======= ======= ======= footer ======= ======= ======= -->
		<div class="row_footer column column-12">
			MyStox copyright 2015
		</div>



		<!-- ======= ======= ======= scripts ======= ======= ======= -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/public/js/script.js"></script>
		<script type="text/d3" src="/public/js/d3code.js"></script>

	</body>
</html>
<!-- ../assets/ -->
